body {
    background-color: #303030;
    background: url(bodybg.png) repeat scroll 0 0 !important;
    /* margin-top: 38px; */
    padding: 0;
    padding-bottom: 20em;
    font: 12px 'Open Sans', Arial, Helvetica, sans-serif !important;
    color: #AAA;
}

a, a:visited {
    font-weight: bold;
    color: #37ccff;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pageTitle {
    font-size: 2em;
    padding-left: 250px;
}

#colorsKey {
    font-size: 0.8em;
}

.tier tr th{
    border-bottom: 2px solid #CCC;
}
.tier tr:last-child > td {
    padding-bottom: 20px;
}
.sys {

}
.time, .power {
    padding-left: 10px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: #0F0;
}

.white {
    color: white
}

.darkgrey {
    color: rgb(80, 80, 80);
}

.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #F00;	}
	50%{	color:transparent;	}
	100%{	color: #F00;	}
}