body {
    background-color: #303030;
    background: url(bodybg.png) repeat scroll 0 0 !important;
    /* margin-top: 38px; */
    padding: 0;
    padding-bottom: 20em;
    font: 11px 'Open Sans', Arial, Helvetica, sans-serif !important;
    color: #AAA;
}

a, a:visited {
    font-weight: bold;
    color: #37ccff;
}

.center {
    text-align: center;
}

.pageTitle {
    font-size: 2em;
    /* padding-left: 250px; */
}

.timezone {
    font-size: 1.25em;
    /* padding-left: 25%; */
}

#colorsKey {
    font-size: 0.8em;
}

.tier tr th{
    border-bottom: 2px solid #CCC;
}
.tier tr:last-child > td {
    padding-bottom: 20px;
}
.tierheader {
    cursor: pointer;
}

.hide {
    display: none;
}
.sys {

}
.time, .power {
    /* padding-left: 10px; */
}

.duration {
    font-size: 0.9em;
    letter-spacing: -0.2ch;
    width: 10%;
}

.resource {
    font-size: 0.8em;
}

.today {
    font-size: 0.8em !important;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: #0F0;
}

.white {
    color: white
}

.darkgrey {
    color: rgb(80, 80, 80);
}

.time span small {
    font-size: 0.6em;
}

.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #F00;	}
	50%{	color:transparent;	}
	100%{	color: #F00;	}
}